.App {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333; /* Dark gray text color */
}

.App-container {
  width: 60%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the container */
  padding: 20px;
  background-color: #f9f9f9; /* Very light grey background */
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 5px; /* Slightly rounded corners */
}

.App-header {
  background-color: #f5f5f5; /* Lighter background */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px; /* Smaller font size */
}

.input-field {
  position: relative; /* Add this line */
  text-align: left;
  margin-bottom: 10px; /* Add space below the input field */
  padding: 20px;
}

.suggestions-list {
  position: absolute; /* Position the list absolutely */
  width: 100%; /* Match the width with the input field */
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000; /* Ensure the list is above other content */
  max-width: 300px; /* Adjust or remove this as necessary */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Optional: add shadow for better visibility */
}


.suggestions-list li {
  padding: 10px; /* Add some padding */
  border-bottom: 1px solid #ccc; /* Add separation between items */
  cursor: pointer; /* Change cursor to pointer to indicate clickability */
  background-color: #fff; /* Background color for list item */
}

.suggestions-list li:hover {
  background-color: #e9e9e9; /* Change background on hover */
}

.suggestions-list li:last-child {
  border-bottom: none; /* Remove bottom border for the last item */
}

.selected-glazes {
  padding-left: 20px;
}

.selected-glazes p {
  text-align: left;
  margin: 5px 0; /* Adds vertical space between selected glazes */
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}

.image-item {
  text-align: center;
}

.image-item img {
  width: 100%;
  height: auto;
  max-width: 150px; /* Adjust based on your preference */
}
